<!DOCTYPE html>
<html>
<head>
</head>

<body>

  	<div class="block2">
	  		<div class="text">
	  			<p>Введите город:</p>
	  			
 <form action="inputsity" method='get' name="reg">
  
  <input type="text" name="countre">
  <input type="submit" value="Ввод данных">

 </form>
 			<div class="text2">
 			<p>Доступные города: 
 			<p>Минск
 			<p>Бухалово
 			<p>Гомель</p>
 			</div>

	  			

	  		</div>
	  		<img src="/assets/forma_big.jpg" width="900" height="300">
  		</div>

</body>
</html>